*{
	margin: 0px;
	padding: 0px;
}

.container{
	width: 800px;
	height: 420px;
	background: green;
	position: relative;
}

.red{
	width: 160px;
	height: 160px;
	background: red;
	top: 130px;
	left: 320px;
	border-radius: 100%;
	position: absolute;	

}

.fb{
	width: 250px;
	height: 60px;
	top: 150px;
	right: -170px;
	position: fixed;
	cursor: pointer;
	transition: 1s;

}

.fb:hover{
	width: 250px;
	height: 60px;
	top: 150px;
	right: 2px;
	position: fixed;
}

.tw{
	width: 250px;
	height: 60px;
	top: 230px;
	right: -170px;
	position: fixed;
	cursor: pointer;
	transition: 1s;

}

.tw:hover{
	width: 250px;
	height: 60px;
	top: 230px;
	right: 2px;
	position: fixed;
}

.yt{
	width: 250px;
	height: 60px;
	top: 310px;
	right: -170px;
	position: fixed;
	cursor: pointer;
	transition: 1s;

}

.yt:hover{
	width: 250px;
	height: 60px;
	top: 310px;
	right: 2px;
	position: fixed;
}




